.button {
  transition: height 0.4s ease-in-out;
  position: fixed;
  height:10%;
  width:24%;
  bottom: 0;
  background-color: green;
  opacity: 0.5
}

#contentField {
  transition: all 0.4s ease-in-out;
  position: fixed;
  height:90%;
  width:24%;
  background-color: green;
  opacity: 1
}

body {
  background-color: gray;
}
